html{
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.resizer{
    background-color: aqua;
    height: 5vh;
    width: 10vw;
}