html{
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.resizer{
    background-color: aqua;
    height: 5vh;
    width: 10vw;
}


.container{
    width: 75vw;
    height: 75vw;
   /*INCREDIBLE!! notice the height is vw too?! it makes this a perfect square*/
    max-width: 500px;
    max-height: 500px;
}

@media(max-width:350px){

    .container{
        width:90vw;
        height:90vw;
    }
}